h1{
	margin-left: 30px;
}

.form-input {
    width: 50%;
    height: 32px;
    padding-left: 2%;
    font-family: 'Noto Sans KR';
    font-size: 15px;
    border: 0;
    border-radius: 12px;
    outline: none;
    background-color: rgb(233, 233, 233);
}
.passWrap{
	margin-left: 20px;
}
.btn-sky {
    width: 140px;
    height: 40px;
    border-radius: 15px;
    margin-right: 2%;
    margin-bottom: 3%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-white{
    width: 140px;
    height: 40px;
    border-radius: 15px;
    background-color: #dddddd;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
	display: inline-block;
	width: 100px;
	margin-left: 20px;
}
.msg {
	text-align: center;
	margin-left: -50px;
}

/* Galaxy S23 */
@media (max-width: 480px) {
    .modal_body{
        position:absolute;
        top:50%;
        width:70%;
        height:50%;
    
        padding:40px;  
    
        text-align: center;
    
        background-color: rgb(255,255,255);
        border-radius:10px;
        box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    
        transform:translateY(-50%);
    }
    
}
