body {
    letter-spacing: -1.5px;
    margin: 0;
    background-color: #f8f8f8;
    font-family: 'Gmarket Sans';
}

/* 헤더와 메뉴바 포함 전체 컨테이너*/
#backcontainer {
    margin: 0 auto;
    width: 480px; 
    height: 100vh;
    bottom: 100px;
    background: #f8f8f8; 
}

/* 컨텐츠 */
#contents {
    margin: 0 auto;
    width: 480px;
    background-color: #f8f8f8;
    height: 85%;
}

/* 체크용 line */
.checkline {
    border: 1px solid black;
}

/* box horizon*/
.boxh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* box vertical*/
.boxv {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* 여백 초기화 */
.margin-init {
    margin: 0;
    padding: 0;
}

/* gsas 패딩 조절 */ 
.gsasdw {
    padding-top: 8px;
}

/* a링크 밑줄제거 및 컬러 */
a {
    text-decoration: none;
    color: black;
}

/* 리스트 코딱지 제거 */
li {
    list-style: none;
}

/* 텍스트 중앙정렬 */
.txa {
    text-align: center;
}

/* checkbox */
/* 기본 체크박스 숨기고 커스텀 이미지 적용 */

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px; /* 체크박스 크기 */
    height: 25px;
    background-image: url('/resources/img/ico-unchecked.png'); /* 체크되지 않은 상태의 이미지 */
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none; 
}

/* 체크되었을 때의 이미지 */
input[type="checkbox"]:checked {
    background-image: url('/resources/img/ico-checked.png'); /* 체크된 상태의 이미지 */
    background-size: cover;
}

/* toggle switch */
.toggleSwitch {
    width: 50px;
    height: 25px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 10%);
    cursor: pointer;
    margin-top: 50%;
    margin-left: 20%;
  }
  
  .toggleSwitch .toggleButton {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(62, 142, 255);
  }
  
  #toggle:checked ~ .toggleSwitch {
    background: rgb(62, 142, 255);
  }
  
  #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 20px);
    background: #fff;
  }
  
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }

/* 480~360 */
@media (max-width: 480px) {
    #backcontainer {
        width: 360px;
    }
    /* 컨텐츠 */
    #contents {
        width: 100%;
    }
}


/* Galaxy S23 */
@media (max-width: 360px) {
    #backcontainer {
        width: 100%;
    }
    /* 컨텐츠 */
    #contents {
        width: 100%;
    }
}
