/* 기본 템플릿 스크롤 여부 */
#contents {
	overflow: auto;
}

#backcontainer {
	overflow: auto;
}

/* 서브타이틀 : 공지사항 */
.subtitle {
	font-size: 1.8em;
	margin: 1%;
}

/* 게시글 목록 */
.bbslist {
	border-bottom: 1px solid #ccc;
	padding-bottom: 3%;
}
/* 상세 조회 칸 */
.bbsdescbox {
	margin: auto;
	width: 80%;
	min-height: 5%; /* 최소 높이 */
	max-height: 100px; /* 최대 높이 */
	overflow: hidden;
}

.bbsdesc {
	font-family: 'Noto Sans KR';
	letter-spacing: -1.5px;
	font-weight: 400;
	font-size: 15px;
}
/* 게시글 제목 */
.bbstitle {
	padding-top: 2%;
	padding-left: 5%;
	list-style: none;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
}
/* 리스트 아이콘 */
/* .custom-icon {
    width: 30px;
} */
.bbsdate {
	font-family: "Noto Sans KR", sans-serif;
	letter-spacing: -1px;
	font-size: 1em;
	color: #999;
	margin: 0;
	margin-top: 1%;
	margin-left: 3%;
}

.bbs {
	height: 3%;
}

.bbstitledesc {
	margin: 1%;
	font-size: 20px;
	width: 90%;
}

.bbstitledesc+img {
	position: absolute;
	width: 20px;
	top: 10;
	right: 10px;
}

@media ( max-width : 480px) {
	.subtitle {
		font-size: 1.3em;
		margin: 1%;
	}
	.bbstitledesc {
		margin: 1%;
		font-size: 18px;
	}
}