#contents{
	width: 80%;
}
.input {
    position: relative;
}

.eye {
    width: 30px;
    position: absolute;
    top: 0;
    right: 15%;
    margin: auto 2px;
    height: 30px;
    cursor: pointer;
}
.form-input {
	width: 50%;
	height: 32px;
	padding-left: 2%;
	font-family: 'Noto Sans KR';
	font-size: 15px;
	border: 0;
	border-radius: 12px;
	outline: none;
	background-color: rgb(233, 233, 233);
}



.btn-sky {
	width: 140px;
	height: 40px;
	border-radius: 15px;
	margin-right: 2%;
	margin-bottom: 3%;
	background-color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn-white {
	width: 140px;
	height: 40px;
	border-radius: 15px;
	background-color: #dddddd;
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

label {
	display: inline-block;
	width: 100px;
	margin-left: 20px;
}

.msg {
	text-align: center;
	margin-left: -50px;
}
.errors{
	color: #dc3545;
	font-size: 15px;
	display: flex;
    justify-content: center;
    align-items: center;
}