/* 헤더 부분 : 로고, userstatus */
#header {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    align-items: center;
}
.headerbar {
    margin: 0;
}
.title {
    width: 200px;
    text-align: center;
}
#logo {
    width: 50px;
    margin: 0 auto;
}
.logout {
    padding-left: 75%;
}

/* Galaxy S23 */
@media (max-width: 480px) {
    .title {
        width: 180px;
        text-align: center;
    }
    #logo {
        width: 40px;
        margin: 0 auto;
    }
    .logout {
        padding-left: 40%;
    }
    #header {
        height: 70px;
    }
    
}
